.container {
    display: flex;
    justify-content: space-around;
    position: relative;
    max-width: 750px;
    margin: 0 auto;
    margin-top: 30px;
}

button {
    margin-top: 4px;
    height: 45px;
    width: 100px;
    background: rgba(31, 214, 15, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 12px 25px;
    border: none;
    transition: 0.6s all;
}
button:hover {
    background-color: #12c99b;
}
